@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

$bg-colour: darken(white, 2%);
$text-colour: black;
$font-family: 'Poppins', sans-serif;


.Dashboard {
  background-color: $bg-colour;
  font-size: calc(10px + 2vmin);
  color: $text-colour;
  padding: 20px;
  min-height: 100vh;

  h1 { 
    font-family: 'Poppins';
  }
}