@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

$bg-colour: darken(white, 2%);
$text-colour: black;
$font-family: 'Poppins', sans-serif;

.Home {
  text-align: center;
  background-color: $bg-colour;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-colour;
  
  h1 { 
    font-family: 'Poppins';
  }

  p { 
    
  }
}